
/* simple css test */

h1 {
    text-align: center;
    font-size: 24px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.textLeft {
    text-align: left;
}

.mapPosition {
    position:relative;
    width:400px;
    height:300px;
}

.cardSizing {
    width: 18rem; 
    margin: 10px;
}

.cardSizingCuisines {
    width: 18rem; 
    margin: 10px;
    text-align: center;
}

.star {
    max-width: 40%;
    max-height: 40%;
}

.cardTitleDisplay {
    display: flex; 
    flex-direction: row;
}

.headerTextGold {
    color: gold
}

.loginMargin {
    margin-bottom: 20px;
}

.submitCentreMargin {
    text-align: center; 
    margin-bottom: 20px; 
}

.cuisineCard {
    display: flex; 
    justify-content: center;
}

.pTextRed {
    color: #95090d;
}

.pTextRedCentred {
    color: #95090d;
    text-align: center;
}

.btnRed {
    background-color: #95090d !important;
    color: white !important;
    width: auto!important;
}

.flexAndCentre {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}

.categoriesCards {
    border: 2px solid gold; 
    padding: 10px; 
    width: 100%; 
    text-align: center; 
    margin-bottom: 10px;
}

.hiddenVisibility {
    visibility: hidden;
}

#titleGreen {
    color: green;
}
.btn {
    width: 150px;
}

.headerRAR{
    background-color: white;
    padding: 5px;
    color: black;
}
.headerRAR1{
    background-color: #95090d;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#headerVisitedRAR1 a:visited{
    color: aliceblue;
}
#headerVisitedRAR a:visited{
    color: black;
}
.headerLinks{
    color: white;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
}
.footerLinks a{
    color: white;
    text-decoration: none;
}
.footer{

    width: 100%;
    background-color: #95090d;
    padding: 20px;

}
.modalHeader{
    background-color: #95090d;
    color: white;
    padding: 10px;
}
.modalButton{
    background-color: white;
    color: #95090d;

}
.randomRestImage{
    max-width: 400px;
    max-height: 600px;
}
.cuisinePic{
    max-height: 300px;
    max-width: 200px;
    object-fit: cover;
}
.cuisine-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.reviewUser{
    color: #95090d!important;
}
.customWidth{
    max-width: 200px;
}
button {
  display: inline-block;
}
.form-field {
    display: block;
    margin-bottom: 10px; /* Adjust this value as needed */
}
body {
    margin: 0;
    padding-top: 200px;
}
