
/* simple css test */

h1 {
    text-align: center;
    font-size: 24px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.star {
    max-width: 40%;
    max-height: 40%;
}

.pTextRed {
    color: #95090d;
}

.btnRed {
    background-color: #95090d !important;
    color: white !important;
    width: auto!important;
}

#titleGreen {
    color: green;
}
.btn {
    width: 150px;

}

.headerRAR{
    background-color: white;
    padding: 5px;
    color: black;
}
.headerRAR1{
    background-color: #95090d;
    padding: 5px;
}

#headerVisitedRAR1 a:visited{
    color: aliceblue;
}
#headerVisitedRAR a:visited{
    color: black;
}
.headerLinks{
    color: white;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
}
.footerLinks a{
    color: white;
    text-decoration: none;
}
.footer{

    width: 100%;
    background-color: #95090d;
    padding: 20px;

}
.modalHeader{
    background-color: #95090d;
    color: white;
    padding: 10px;
}
.modalButton{
    background-color: white;
    color: #95090d;

}
.randomRestImage{
    max-width: 400px;
    max-height: 600px;
}
.cuisinePic{
    max-height: 300px;
    max-width: 200px;
    object-fit: cover;
}
.cuisine-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.reviewUser{
    color: #95090d!important;
}
.customWidth{
    max-width: 200px;
}
button {
  display: inline-block;
}