{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    About Page
{% endblock %}

{% block body_block %}
    
<link rel="stylesheet" href="{% static 'ratearant/CSS/styles.css' %}">
    <script src="{% static 'ratearant/scripts/scriptsTest.js' %}"></script>

    <div class="pTextRedCentred">
        <div class="imageContainer">
            <img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageLeft" alt="Site icon" class="sizesForChangeImageLeft"/>
            <p>Welcome to Ratearant. The best place for all of your restaurant rating, reviewing and discovering needs! Search through all the best restaurants and share your own opinions with Ratearant!</p>
            <img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageRight" alt="Site icon" class="sizesForChangeImageRight"/>
        </div>
    </div>

{% endblock %}

{% block block_footer %}

{% endblock %}