{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Categories Page
{% endblock %}

{% block body_block %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
    {% for cuisine in cuisines %}

        {#  Single Card Template:#}
        <div class="card" style="width: 18rem; margin: 10px;text-align: center">
            <a href="">
                <img src="{% static '/ratearant/images/cuisines/' %}{{ cuisine.cuisineName}}.jpg" class="card-img-top cuisinePic img-fluid" >
            </a>

            <div class="card-body">
                <div style="display: flex; justify-content: center;">
                    <h5>{{ cuisine.cuisineName }}</h5>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}
