{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Food Styles Page
{% endblock %}

{% block body_block %}
    <div class="flexAndCentre">
    {% for cuisine in cuisines %}

        {#  Single Card Template:#}
        <div class="card cardSizingCuisines">
            <a href="/ratearant/categories/{{ cuisine.cuisineName }}/">
                <img href="/ratearant/restaurant/{{ restaurant.slug }}/" src="{% static '/ratearant/images/cuisines/'%}{{ cuisine.cuisineName|lower}}.jpg" class="card-img-top cuisinePic img-fluid" >
            </a>

            <div class="card-body">
                <div class="cuisineCard">
                    <h5>{{ cuisine.cuisineName }}</h5>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}
