{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Login Page
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'ratearant/CSS/styles.css' %}"> <!-- don't know why I'm having to add this in order to make line 
                                                                                  20 show up correctly-->
    <div class="pTextRed" style="text-align: center;">
        <h4>Login to Rate-A-Rant</h4>
        <form id="login_form" method="post" action="{% url 'ratearant:login' %}">
            {% csrf_token %}
            <div style="margin-bottom: 20px;">
                <img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageLeft" alt="Site icon" style="width: 130px; height: 130px; float: left; margin-left: 100px;"/>
                Username: <input type="text" name="username" value="" size="30" />
                <img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageRight" alt="Site icon" style="width: 130px; height: 130px; float: right; margin-right: 100px;"/>
            </div>
            <div style="margin-bottom: 20px;">
                Password: <input type="password" name="password" value="" size="30" />
            </div>
            <div style="text-align: center; margin-bottom: 20px;"> 
                <input type="submit" name="submit" value="Submit" class="btn btnRed" style="margin: 0 auto;" />
            </div>
            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
            {% endif %}            
        </form>
    </div>

    <script src="{% static 'ratearant/scripts/scriptsTest.js' %}"></script>
 
{% endblock %}

{% block block_footer %}

{% endblock %}
