{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Login Page
{% endblock %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'ratearant/CSS/styles.css' %}">
<script src="{% static 'ratearant/scripts/scriptsTest.js' %}"></script>
    <div class="pTextRedCentred">
        <h4>Login to Rate-A-Rant</h4>
        <form id="login_form" method="post" action="{% url 'ratearant:login' %}">
            {% csrf_token %}
            <div class="loginMargin">
                <img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageLeft" alt="Site icon" class="sizesForChangeImageLeft"/>
                Username: <input type="text" name="username" value="" size="30" />
                <img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageRight" alt="Site icon" class="sizesForChangeImageRight"/>
            </div>
            <div class="loginMargin">
                Password: <input type="password" name="password" value="" size="30" />
            </div>
            <div class="submitCentreMargin"> 
                <input type="submit" name="submit" value="Submit" class="btn btnRed"/>
            </div>
            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
            {% endif %}            
        </form>
    </div>
 
{% endblock %}

{% block block_footer %}

{% endblock %}
