{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Login Page
{% endblock %}

{% block body_block %}
    <div class="pTextBlue">
        <h1>Login to ratearant</h1>
        <form id="login_form" method="post" action="{% url 'ratearant:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>
    </div>
{% endblock %}

{% block block_footer %}

{% endblock %}