{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Register Page
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'ratearant/CSS/styles.css' %}"> <!-- don't know why I'm having to add this in order to make line 
                                                                                      29 show up correctly-->
    <div class="pTextRed" style="text-align: center;">
        {% if registered %}
            <h4>Thank you for registering!</h4>
            <a href="{% url 'ratearant:home' %}">Return to the homepage.</a><br />
        {% else %}
            <h3>Welcome to Ratearant!</h3><br /><br />
            <form id="user_form" method="post" action="{% url 'ratearant:register' %}" enctype="multipart/form-data" style="display: inline-block; text-align: left;">
                {% csrf_token %}
                
                <div style="text-align: left;"> 
                    {{ user_form.username.label_tag }}{{ user_form.username }}<br /><br />
                    {{ user_form.first_name.label_tag }}{{ user_form.first_name }}<br /><br />
                    {{ user_form.last_name.label_tag }}{{ user_form.last_name }}<br /><br />
                    {{ user_form.email.label_tag }}{{ user_form.email }}<br /><br />
                    {{ user_form.password.label_tag }}{{ user_form.password }}<br /><br />
                    {{ profile_form.as_p }}
                </div>

                <div style="text-align: center;"> 
                    <input type="submit" name="submit" value="Register" class="btn btnRed" style="margin: 0 auto;" />
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block block_footer %}

{% endblock %}