{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    Register Page
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'ratearant/CSS/styles.css' %}"> <!-- don't know why I'm having to add this in order to make line 
                                                                                      29 show up correctly-->
    <div class="pTextRedCentred">
        {% if registered %}
            <h4>Thank you for registering!</h4>
            <a href="{% url 'ratearant:home' %}">Return to the homepage.</a><br />
        {% else %}
            <h3>Welcome to Ratearant!</h3><br /><br />
            <form id="user_form" method="post" action="{% url 'ratearant:register' %}" enctype="multipart/form-data" style="display: inline-block; text-align: left;">
                {% csrf_token %}
                
                <div class="textLeft"> 
                    <!--<img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageLeft" alt="Site icon" style="width: 130px; height: 130px; float: left; margin-left: 10px;"/>-->
                    {{ user_form.username.label_tag }}{{ user_form.username }}
                    <!--<img src="{% static 'ratearant/images/ratearanticon.jpeg' %}" id="changeImageRight" alt="Site icon" style="width: 130px; height: 130px; float: right; margin-right: 10px;"/>-->
                    {% if user_form.username.errors %}
                        <div class="error">{{ user_form.username.errors }}</div>
                    {% endif %}

                    <br /><br />

                    {{ user_form.password.label_tag }}{{ user_form.password }}
                    {% for error in user_form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    <br /><br />

                    {{ user_form.email.label_tag }}{{ user_form.email }}
                    {% for error in user_form.email.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    <br /><br />

                    {{ user_form.first_name.label_tag }}{{ user_form.first_name  }}<br /><br />
                    {{ user_form.last_name.label_tag }}{{ user_form.last_name  }}<br /><br />

                    {{ profile_form.as_p }}
                    {% for field in profile_form %}
                        {% for error in field.errors %}
                            <div class="form-field error">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="pTextRedCentred"> 
                    <input type="submit" name="submit" value="Register" class="btn btnRed" style="margin: 0 auto;" />
                </div>

            </form>
            

            
        {% endif %}

       
    </div>

    

    <script src="{% static 'ratearant/scripts/scriptsTest.js' %}"></script>

{% endblock %}

{% block block_footer %}

{% endblock %}