{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    {% if restaurant %}
    {{ restaurant.name }} - Ratearant
    {% else %}
    <p>Restaurant not found</p>
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="row mb-3">
        <div class="col-md-4">
            <img src="{% static 'ratearant/images/restaurants/frrant.jpg' %}" alt="French restaurant img" class="img-fluid">
        </div>
        <div class="col-md-8">
            {% if restaurant %}
		    <P>{{ restaurant.name }}</P>
            <P>{{ restaurant.address }}</P>
            <P>{{ restaurant.phone }}</P>
            <P>{{ restaurant.email }}</P>
	{% endif %}

        </div>
    </div>

{% endblock %}