{% extends 'ratearant/base.html' %}
{% load static %}

{% block block_title %}
    {% if restaurant %}
    {{ restaurant.name }} - Ratearant
    {% else %}
    <p>Restaurant not found</p>
    {% endif %}
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'ratearant/CSS/map.css' %}">
<div class="container">
    <div class="row mb-3">

        <div class="col-md-7">
            {% if restaurant %}
                <div class="card">
                    <img id="restaurantpic" class="card-img-top img-fluid randomRestImage"
                         src=""
                         alt="restaurant picture" >
                    <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                        <div>
                            <ul>
                                <li>Where: {{ restaurant.address }}</li>
                                <li>Telephone: {{ restaurant.phone }}</li>
                                <li>Price Range: {{ restaurant.priceRange }}</li>
                                <li>Opening times: {{ restaurant.openingTime }}</li>
                                <li>Food style: {{ restaurant.cuisine.cuisineName }}</li>
                            </ul>
                        </div>

                        <div id='map' class="mapPosition"></div>
                        <div id='restaurantAddress' class="hiddenVisibility">{{ restaurant.address }}</div>
                        <div id='restaurantName' class="hiddenVisibility">{{ restaurant.name }}</div>
                        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmW-lS1nYIT1gQDljYAjWAyJ-1dR0owV3ihYbMsoJpxCaBqbB-KiBctCW_3vgSrx&callback=loadMapScenario' async defer></script>
                        {% if user.is_authenticated and not reviewed%}
                            <a href="{% url 'ratearant:add_review' restaurant_name_slug=restaurant.slug %}" class="btn btnRed">Add Review</a>
                        {% endif %}
                    <a href="{% url 'ratearant:home' %}" class="btn btnRed">Back</a>
                    </div>
                </div>
	        {% endif %}
        </div>
    <div class="col-md-5">
        {% if restaurant %}
            {% for review in reviews %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title reviewUser">From: {{ review.user.username }}</h5>
                            <p>
                                {{ review.message }}
                            </p>
                            <ul class="list-group customWidth">
                                <li class="list-group-item">
                                    Food Rating:
                                    {% if review.foodRating >= 4 %}
                                    <span class="badge badge-primary badge-pill">
                                        {{ review.foodRating }}
                                    </span>>
                                     {% elif review.foodRating > 2 %}
                                    <span class="badge badge-warning badge-pill">
                                        {{ review.foodRating }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-danger badge-pill">
                                        {{ review.foodRating }}
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Service Rating:
                                    {% if review.serviceRating >= 4 %}
                                        <span class="badge badge-primary badge-pill">
                                        {{ review.serviceRating }}
                                        </span>>
                                     {% elif review.serviceRating > 2 %}
                                    <span class="badge badge-warning badge-pill">
                                        {{ review.serviceRating }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-danger badge-pill">
                                        {{ review.serviceRating }}
                                    {% endif %}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Overall Rating:
                                    {% if review.overallRating >= 4 %}
                                    <span class="badge badge-primary badge-pill">
                                        {{ review.overallRating }}
                                    </span>
                                     {% elif review.overallRating > 2 %}
                                    <span class="badge badge-warning badge-pill">
                                        {{ review.overallRating }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-danger badge-pill">
                                        {{ review.overallRating }}
                                    {% endif %}
                                    </span>
                                </li>
                            </ul>
                    </div>
                </div>
                {% endfor  %}
        {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'ratearant/scripts/randomrantimage.js' %}"></script>
<script src="{% static 'ratearant/scripts/map.js' %}"></script>
{% endblock %}

